.vscode/**
tests/**
devtools_src/**
.github
.settings
.pydevproject
.project
robotframework_ls.egg-info
vscode-client/src
**/.gitignore
**/pytest.ini
**/*.vsix
**/.pytest_cache/**
**/*.pyc
**/__pycache__
src/build/**
src/dist/**
src/robotframework_lsp.egg-info/**