<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Convert third party RPA to Robocorp Robot</title>
        <style>
            :root {
                --fg-color: var(--vscode-editor-foreground, black);
                --bg-color: var(--vscode-editor-background, white);
                --error-color: var(--vscode-terminalCommandDecoration-errorBackground, rgb(201, 28, 28));
            }

            body {
                font-family: var(--vscode-editor-font-family);
                font-weight: var(--vscode-editor-font-weight);
                font-size: var(--vscode-editor-font-size);
                color: var(--fg-color);
                background-color: var(--bg-color);
            }

            .divEntry {
                display: inline-grid;
                grid-gap: 5px;
                width: 800px;
            }

            pre {
                width: 800px;
            }

            .filelabel {
                display: inline-flex;
            }

            #addBt {
                margin-left: 10px;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: auto;
            }

            #analysisDiv {
                margin-top: 50px;
            }

            #conversionDiv {
                margin-top: 50px;
            }

            #outputFolderDiv {
                margin-top: 20px;
            }

            input {
                color: var(--vscode-editor-foreground);
                background-color: var(--vscode-editor-background);
                border-width: 1px;
                border-color: var(--vscode-editor-foreground);
                padding: 5px;
            }

            .remove {
                display: block;
                text-align: center;
                border-radius: 5px;
                font-weight: bold;
                border-color: var(--vscode-editor-foreground);
                margin-left: 5px;
                text-decoration: none;
                color: var(--error-color);
            }

            select {
                color: var(--vscode-editor-foreground);
                background-color: var(--vscode-editor-background);
                border-width: 1px;
                border-color: var(--vscode-editor-foreground);
                padding: 5px;
                margin-bottom: 10px;
            }

            div label {
                margin-top: 15px;
            }

            #submit {
                margin-top: 15px;
            }
        </style>
    </head>

    <script id="data" type="application/json">
        {
            "inputType": "uipath",
            "input": ["c:/temp/file.uipath", "c:/temp/file2.uipath"],
            "generationResults": "",
            "outputFolder": "",
            "targetLanguage": "RF",
            "typeToLastOptions": {
                "uipath": {
                    "input": [],
                    "generationResults": "",
                    "outputFolder": "",
                },
                "blueprism": {
                    "input": [],
                    "generationResults": "",
                    "outputFolder": "",
                },
                "a360": {
                    "input": [],
                    "generationResults": "",
                    "outputFolder": "",
                }
                "aav11": {
                    "input": [],
                    "generationResults": "",
                    "outputFolder": "",
                }
            }
        }
    </script>

    <script type="application/javascript">
        // To be filled afterwards with the actual info (obtained from #data -- which could be a stub
        // or the value filled by vscode).
        let globalConversionInfo = {};
        const DEBUG = false;

        // Helpers --------------------------------

        function escapeHtml(unsafe) {
            return unsafe
                .replaceAll("&", "&amp;")
                .replaceAll("<", "&lt;")
                .replaceAll(">", "&gt;")
                .replaceAll('"', "&quot;")
                .replaceAll("'", "&#039;");
        }
        function toBase64(s) {
            const codeUnits = new Uint16Array(s.length);
            for (let i = 0; i < codeUnits.length; i++) {
                codeUnits[i] = s.charCodeAt(i);
            }
            return btoa(String.fromCharCode(...new Uint8Array(codeUnits.buffer)));
        }
        function fromBase64(s) {
            const binary = atob(s);
            const bytes = new Uint8Array(binary.length);
            for (let i = 0; i < bytes.length; i++) {
                bytes[i] = binary.charCodeAt(i);
            }
            return String.fromCharCode(...new Uint16Array(bytes.buffer));
        }

        let vscode;
        try {
            vscode = acquireVsCodeApi();
        } catch (err) {
            // ignore
            if (DEBUG) {
                console.log("VSCode API not available.");
            }
        }

        // Update UI or data functions --------------------------

        function saveInfoForCurrentDataSelection() {
            const currOptions = {
                "input": globalConversionInfo.input,
                "generationResults": globalConversionInfo.generationResults,
                "outputFolder": globalConversionInfo.outputFolder,
                "targetLanguage": globalConversionInfo.targetLanguage
            };
            globalConversionInfo.typeToLastOptions[globalConversionInfo.inputType] = currOptions;
        }

        function restoreInfoForCurrentDataSelection() {
            const lastOptions = globalConversionInfo.typeToLastOptions[globalConversionInfo.inputType];
            globalConversionInfo.input = lastOptions.input;
            globalConversionInfo.generationResults = lastOptions.generationResults;
            globalConversionInfo.targetLanguage = lastOptions.targetLanguage;
            if (lastOptions.outputFolder) {
                // Keep the same output folder (just set it if it was already saved for the other type).
                globalConversionInfo.outputFolder = lastOptions.outputFolder;
            }
        }

        function updateUITypeFromData() {
            const inputBotFormatSelect = document.getElementById("inputBotFormat");
            inputBotFormatSelect.value = globalConversionInfo.inputType;
        }

        function updateUIConversionResultFromData() {
            const conversionResultsDiv = document.getElementById("conversionResults");
            let txt = globalConversionInfo.generationResults;
            const lines = [];
            for (let line of txt.split(/\r?\n|\r|\n/g)) {
                if (!line.startsWith("\tat ")) {
                    lines.push(line);
                }
            }
            conversionResultsDiv.textContent = lines.join("\n");
        }

        function updateUIFilesFromData() {
            const parentElement = document.getElementById("inputFilesOrFolders");
            parentElement.replaceChildren();

            for (const it of globalConversionInfo["input"]) {
                var template = document.createElement("template");
                // const basename = it.split(/[\\/]/).pop();
                const asBase64 = toBase64(it);
                const html = `<div>
                    <input class="fileCheck" type="checkbox" checked="true" data-file="${asBase64}" style="display:none"/>
                    <label class="filelabel">&#8226; ${escapeHtml(
                        it
                    )} <a href="#" class="remove" onClick="onClickRemove('${asBase64}')">(X)</a></label>
                        </div>`;

                template.innerHTML = html.trim();
                parentElement.appendChild(template.content.firstChild);
            }
        }

        function updateUITargetLanguageFromData() {
            const targetLanguageSelect = document.getElementById("targetLanguage");
            targetLanguageSelect.value = globalConversionInfo.targetLanguage;
        }

        function hideUITargetLanguage() {
            const targetLanguageSelect = document.getElementById("targetLanguageDiv");
            targetLanguageDiv.style.display = 'none';
        }

        function showUITargetLanguage() {
            const targetLanguageDiv = document.getElementById("targetLanguageDiv");
            targetLanguageDiv.style.display = 'inline-grid';
        }

        function hideUITargetLanguageOption(optionValue) {
            const selectElement = document.getElementById('targetLanguage');
            const options = selectElement.getElementsByTagName('option');
            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                if (option.value === optionValue) {
                    option.style.display = 'none';
                    break;
                }
            }
        }

        function showUITargetLanguageOption(optionValue) {
            const selectElement = document.getElementById('targetLanguage');
            const options = selectElement.getElementsByTagName('option');
            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                if (option.value === optionValue) {
                    option.style.display = 'block';
                    break;
                }
            }
        }

        function updateUIOutputFolderFromData() {
            const outputFolderText = document.getElementById("outputFolderText");
            outputFolderText.value = globalConversionInfo.outputFolder;
        }

        function updateUIAllFromData() {
            updateUITypeFromData();
            updateUIConversionResultFromData();
            updateUIFilesFromData();
            updateUIOutputFolderFromData();
            updateUITargetLanguageFromData();

            // The UI has just been updated, so, it's Ok to update one UI setting
            // from another UI setting...
            updateUILabelFilesOrFoldersFromUI();

            if (isTargetSelectionDisabled()) {
                hideUITargetLanguage();
            } else {
                showUITargetLanguage();

                if (isTargetSelectionOptionDisabled('DOT')) {
                    hideUITargetLanguageOption('DOT');
                } else {
                    showUITargetLanguageOption('DOT');
                }
            }
        }

        function updateUILabelFilesOrFoldersFromUI() {
            const addBt = document.getElementById("addBt");
            const el = document.getElementById("labelFilesOrFolders");
            const caption = getCurrentUICaption();

            if (isCurrentTypeEntryFolders()) {
                el.textContent = `Input folders with ${caption} projects to be converted:`;
                addBt.value = `Select folder(s)`;
            } else {
                el.textContent = `Input files  with ${caption} projects to be converted:`;
                addBt.value = `Select file(s)`;
            }
        }

        const TYPE_TO_CAPTION = {
            "uipath": "UiPath",
            "blueprism": "Blue Prism",
            "a360": "Automation Anywhere 360",
            "aav11": "Automation Anywhere 11",
        };

        function isCurrentTypeEntryFolders() {
            const curr = getCurrentUIType();
            if (curr === "blueprism" || curr == "aav11") {
                return false;
            }
            return true;
        }

        function isTargetSelectionDisabled() {
            const curr = getCurrentUIType();
            if (curr === "blueprism") {
                return true;
            }
            return false;
        }

        function isTargetSelectionOptionDisabled(option) {
            const curr = getCurrentUIType();
            if (curr !== "uipath" && option === 'DOT') {
                return true;
            }
            return false;
        }

        function getCurrentUIType() {
            return document.getElementById("inputBotFormat").value;
        }

        function getCurrentUICaption() {
            return TYPE_TO_CAPTION[getCurrentUIType()];
        }

        // Callbacks for JS actions ------------------------------

        function persistState() {
            if (vscode) {
                if (DEBUG) {
                    console.log("Persist state.");
                }

                vscode.setState(globalConversionInfo);
                vscode.postMessage({
                    command: "persistState",
                    contents: globalConversionInfo,
                });
            } else {
                console.log("persistState");
            }
        }

        function onChangedInputBotFormat() {
            saveInfoForCurrentDataSelection();
            globalConversionInfo.inputType = getCurrentUIType();
            restoreInfoForCurrentDataSelection();
            updateUIAllFromData();
            persistState();
        }

        function onClickAdd() {
            if (vscode) {
                // Disable button while sending.
                const addBt = document.getElementById("addBt");
                addBt.disabled = true;
                vscode.postMessage({
                    command: "onClickAdd",
                    contents: {
                        "type": getCurrentUIType(),
                    },
                });
            } else {
                console.log("On click add");
                handleAddFileOrFolderCommand({ "input": ["c:/temp/bar"] });
            }
        }

        function onClickRemove(fileAsBase64) {
            const filename = fromBase64(fileAsBase64);
            const index = globalConversionInfo.input.indexOf(filename);
            if (index >= 0) {
                globalConversionInfo.input.splice(index, 1);
            } else {
                console.log("Error: could not find item to remove: " + filename);
                for (const it of globalConversionInfo.input) {
                    console.log("Item found: " + it);
                }
                return;
            }
            clearResultsAndUpdateUI();
            updateUIFilesFromData();
            persistState();
        }

        function onClickOutputFolder() {
            if (vscode) {
                // Disable button while sending.
                const outputFolderBt = document.getElementById("outputFolderBt");
                outputFolderBt.disabled = true;
                vscode.postMessage({
                    command: "onClickOutputFolder",
                    currentOutputFolder: globalConversionInfo.outputFolder,
                });
            } else {
                console.log("On click output folder");
                handleOutputFolderCommand({ "outputFolder": "" });
            }
        }

        function onOutputFolderTextChanged() {
            const outputFolderText = document.getElementById("outputFolderText");
            const text = outputFolderText.value;
            globalConversionInfo.outputFolder = text;
            persistState();
        }

         function onTargetLanguageChanged() {
            const targetLanguageSelect = document.getElementById("targetLanguage");
            const selectedTargetLanguage = targetLanguageSelect.value;
            globalConversionInfo.targetLanguage = selectedTargetLanguage;
            persistState();
        }


        function onClickConvert() {
            if (vscode) {
                // Disable button while sending.
                const outputFolderBt = document.getElementById("outputFolderBt");
                outputFolderBt.disabled = true;
                const conversionResultsDiv = document.getElementById("conversionResults");
                conversionResultsDiv.textContent = "Please wait, making analysis/conversion...";
                vscode.postMessage({
                    command: "onClickConvert",
                    contents: {
                        outputFolder: globalConversionInfo.outputFolder,
                        targetLanguage: globalConversionInfo.targetLanguage,
                        inputType: globalConversionInfo.inputType,
                        input: globalConversionInfo.input,
                    },
                });
            } else {
                console.log("On click convert");
            }
        }

        // Handle messages sent from the client --------------------------

        function handleConversionFinishedCommand(result) {
            try {
                if (!result) {
                    globalConversionInfo.generationResults = "Error. Returned message does not have 'result'.";
                    updateUIConversionResultFromData();
                    persistState();
                    return;
                }
                let message = result.message;
                if (!message) {
                    message = "Error. Returned message does not have 'message'.";
                }
                globalConversionInfo.generationResults = message;
                updateUIConversionResultFromData();
                persistState();
            } finally {
                const outputFolderBt = document.getElementById("outputFolderBt");
                outputFolderBt.disabled = false;
            }
        }

        function handleOutputFolderCommand(message) {
            try {
                if (message.outputFolder) {
                    clearResultsAndUpdateUI();
                    globalConversionInfo.outputFolder = message.outputFolder;
                    updateUIOutputFolderFromData();
                    persistState();
                }
            } finally {
                const outputFolderBt = document.getElementById("outputFolderBt");
                outputFolderBt.disabled = false;
            }
        }

        function clearResultsAndUpdateUI() {
            globalConversionInfo.generationResults = "";
            updateUIConversionResultFromData();
        }

        function handleAddFileOrFolderCommand(message) {
            try {
                if (message.input && message.input.length > 0) {
                    clearResultsAndUpdateUI();
                    const set = new Set();
                    const input = message.input;
                    for (const it of globalConversionInfo.input) {
                        if (set.has(it)) {
                            continue;
                        }
                        set.add(it);
                    }

                    for (const it of input) {
                        if (set.has(it)) {
                            continue;
                        }
                        set.add(it);
                        globalConversionInfo.input.push(it);
                    }
                    updateUIFilesFromData();
                    persistState();
                }
            } finally {
                // Re-enable button after sending.
                const addBt = document.getElementById("addBt");
                addBt.disabled = false;
            }
        }

        window.addEventListener("message", (event) => {
            const message = event.data;

            switch (message.command) {
                case "addFileOrFolder":
                    handleAddFileOrFolderCommand(message);
                    break;
                case "setOutputFolder":
                    handleOutputFolderCommand(message);
                    break;
                case "conversionFinished":
                    handleConversionFinishedCommand(message.result);
                    break;
                    globalConversionInfo.generationResults = result.message;
            }
        });
    </script>

    <!-- Actual Body ---------------------------------------------- -->

    <body>
        <div id="root">
            <br />
            <div>Conversion Accelerator from Third party RPA to Robocorp Robot<br /><br /></div>
            <div>
                Note: before starting a conversion it's strongly suggested that you:
                <ul>
                    <li>
                        Read <a href="https://robocorp.com/docs/conversion">https://robocorp.com/docs/conversion</a>.
                    </li>
                    <li>Finish the <a href="https://robocorp.com/docs/courses">Robocorp certification courses</a>.</li>
                    <li>Understand the <a href="https://robocorp.com/docs/libraries">Robocorp libraries</a>.</li>
                    <li>
                        Read the documentation related to
                        <a href="https://robocorp.com/docs/development-guide/qa-and-best-practices/sharing-libraries"
                            >Sharing libraries</a
                        >.
                    </li>
                </ul>
            </div>

            <div id="inputBotDiv" class="divEntry">
                <label>Input bot format:</label>
                <br />
                <select id="inputBotFormat" onchange="onChangedInputBotFormat()">
                    <option value="uipath">UIPath</option>
                    <option value="blueprism">Blue Prism</option>
                    <option value="a360">Automation Anywhere 360</option>
                    <option value="aav11">Automation Anywhere 11</option>
                </select>
            </div>

            <div id="addFilesOrFoldersDiv" class="divEntry">
                <!-- 
                Note: the label below should be changed to Input files or Input folders 
                depending on the input type.
            -->
                <div style="display: flex">
                    <label id="labelFilesOrFolders" style="flex-grow: 1">Input</label>
                    <input value="Select" type="submit" id="addBt" onclick="onClickAdd()" />
                </div>
                <div id="inputFilesOrFolders"></div>
            </div>

            <div id="targetLanguageDiv" class="divEntry">
                <label>Target language:</label>
                <br />
                <select id="targetLanguage" onchange="onTargetLanguageChanged()">
                    <option value="PYTHON">Python</option>
                    <option value="RF">Robot Framework</option>
                    <option value="DOT">Graphviz DOT</option>
                </select>
            </div>

            <div id="outputFolderDiv" class="divEntry">
                <label
                    >Output folder (a new folder will be created in the specified Output folder to store the
                    conversion):</label
                >
                <div style="display: flex">
                    <input
                        value=""
                        style="flex-grow: 1"
                        type="text"
                        id="outputFolderText"
                        oninput="onOutputFolderTextChanged()"
                    />
                    <input
                        value="..."
                        style="margin-left: 5px; padding-left: 20px; padding-right: 20px"
                        type="submit"
                        id="outputFolderBt"
                        onclick="onClickOutputFolder()"
                    />
                </div>
            </div>

            <!-- <div id="analysisDiv" class="divEntry">
                <input value="Analyze" type="submit" id="analyzeBt" onclick="onClickAnalyze()" />
                <div id="analysisResults">Analysis results:</div>
            </div>
            <br /> -->

            <div id="conversionDiv" class="divEntry">
                <input value="Convert" type="submit" id="convertBt" onclick="onClickConvert()" />
                <pre id="conversionResults">Conversion results:</pre>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </body>

    <script>
        const data = document.getElementById("data").innerText;
        let loadedState = false;
        if (vscode) {
            const state = vscode.getState();
            if (state) {
                loadedState = true;
                globalConversionInfo = state;
                if (DEBUG) {
                    console.log("Load state from VSCode api.");
                }
            }
        }
        if (!loadedState) {
            if (DEBUG) {
                console.log("Load state embedded in page.");
            }
            globalConversionInfo = JSON.parse(data);
        }
        updateUIAllFromData();
    </script>
</html>
