on:
  push:
    branches:
      - "release-robocorp-code"
    tags:
      - "robocorp-code-*"
name: Deploy - Robocorp Code Extension
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./robocorp-code
    
    strategy:
      fail-fast: true

    steps:
    - uses: actions/checkout@v1
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Yarn install
      run: yarn install
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install deps
      run: pip install --upgrade pip fire twine wheel setuptools
    - name: Vendor robocorp_ls_core
      run: python -m dev vendor-robocorp-ls-core
    - name: Fix README references
      run: python -m dev fix-readme
    - name: Generate LICENSE.md
      run: python -m dev generate-license-file
    - name: Build wheel
      working-directory: ./robocorp-code/src
      run: |
        cp ../README.md ./README.md
        python setup.py sdist bdist_wheel --universal
    - run: npm install -g vsce@2.15.0
        
    - name: Check tag version
      run: python -m dev check-tag-version

    # Deal with Windows --------------
    - name: Download rcc for windows
      run: python -m dev download-rcc win32
      
    - run: vsce package --target win32-x64 -o robocorp-code-win32-x64.vsix

    - uses: actions/upload-artifact@v1
      with:
        name: robocorp-code-win32-x64.vsix
        path: ./robocorp-code/robocorp-code-win32-x64.vsix
    
    - name: Publish pre-release to vscode marketplace
      run: vsce publish --packagePath ./robocorp-code-win32-x64.vsix -p $VSCE_TOKEN
      env:
        VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        
    - name: Publish windows to open vsx marketplace 
      run: npx ovsx publish robocorp-code-win32-x64.vsix -p $OPEN_VSX_TOKEN
      env:
        OPEN_VSX_TOKEN: ${{ secrets.OPEN_VSX_TOKEN }}
                
    # Deal with Linux --------------
    - name: Download rcc for linux
      run: python -m dev download-rcc linux
      
    - run: vsce package --target linux-x64 -o robocorp-code-linux-x64.vsix

    - uses: actions/upload-artifact@v1
      with:
        name: robocorp-code-linux-x64.vsix
        path: ./robocorp-code/robocorp-code-linux-x64.vsix
    
    - name: Publish pre-release to vscode marketplace
      run: vsce publish --packagePath ./robocorp-code-linux-x64.vsix -p $VSCE_TOKEN
      env:
        VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        
    - name: Publish linux to open vsx marketplace 
      run: npx ovsx publish robocorp-code-linux-x64.vsix -p $OPEN_VSX_TOKEN
      env:
        OPEN_VSX_TOKEN: ${{ secrets.OPEN_VSX_TOKEN }}
        
    # Deal with Darwin --------------
    - name: Download rcc for darwin
      run: python -m dev download-rcc darwin
      
    - run: vsce package --target darwin-x64 -o robocorp-code-darwin-x64.vsix

    - uses: actions/upload-artifact@v1
      with:
        name: robocorp-code-darwin-x64.vsix
        path: ./robocorp-code/robocorp-code-darwin-x64.vsix
    
    - name: Publish pre-release to vscode marketplace
      run: vsce publish --packagePath ./robocorp-code-darwin-x64.vsix -p $VSCE_TOKEN
      env:
        VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        
    - name: Publish darwin to open vsx marketplace 
      run: npx ovsx publish robocorp-code-darwin-x64.vsix -p $OPEN_VSX_TOKEN
      env:
        OPEN_VSX_TOKEN: ${{ secrets.OPEN_VSX_TOKEN }}