name: Tests - Python Language Server Core (robocorp-python-ls-core)

on:
  push:
    paths:
    - robocorp-python-ls-core/**
    - .github/**


  pull_request:
    paths:
    - robocorp-python-ls-core/**
    - .github/**
      
jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        name: [
          "windows-py37",
          "ubuntu-py38",
        ]
        
        include:
          - name: "windows-py37"
            python: "3.7"
            os: windows-latest
          - name: "ubuntu-py38"
            python: "3.8"
            os: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: setup.py install
      working-directory: ./robocorp-python-ls-core
      run: |
        cd src
        python setup.py install
        cd ..
    - name: Install test deps
      working-directory: ./robocorp-python-ls-core
      run: |
        cd tests
        pip install -r test_requirements.txt
        cd ..
    - name: Test
      working-directory: ./robocorp-python-ls-core/tests
      env:
        PYTHONPATH: .
      run: python -u ./run_tests.py -otests_output -vv .
    - uses: actions/upload-artifact@v1
      with:
        name: tests_output.${{ matrix.name }}.txt
        path: robocorp-python-ls-core/tests/tests_output

