name: Tests - Intellij

on:
  push:
    paths:
    - robotframework-intellij/**
    - robotframework-ls/**
    - robocorp-python-ls-core/**
    - .github/**


  pull_request:
    branches:
    - robotframework-intellij/**
    - .github/**
      
jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./robotframework-intellij
        
    strategy:
      fail-fast: false
      matrix:
        name: [
          "ubuntu-py38",
        ]
        
        include:
          - name: "ubuntu-py38"
            python: "3.8"
            os: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Install deps
      run: pip install --upgrade pip fire twine wheel setuptools robotframework
    - name: Vendor robocorp_ls_core
      working-directory: ./robotframework-ls    
      run: python -m dev vendor-robocorp-ls-core
    - name: Fix README references
      working-directory: ./robotframework-ls    
      run: python -m dev fix-readme
    - name: Build wheel
      working-directory: ./robotframework-ls/src
      run: |
        cp ../README.md ./README.md
        python setup.py sdist bdist_wheel --universal
    - name: Test
      run: |
        export DISPLAY=':99.0'
        /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        pwd
        ./gradlew -v
        ./gradlew clean test -i
    - name: Package
      run: |
        export DISPLAY=':99.0'
        /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        pwd
        ./gradlew buildPlugin
    - uses: actions/upload-artifact@v1
      with:
        name: intellij-distribution
        path: robotframework-intellij/build/distributions/
